doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        canvas#c
        script(src='/javascripts/Renderer.js')
        script(src='/javascripts/World.js')
        script(src='/javascripts/Chrono.js')
        script(src='/javascripts/Moveable.js')
        script(src='/javascripts/Player.js')
        script(src='/javascripts/Enemy.js')
        script(src='/javascripts/Game.js')
        script(src='/javascripts/Controls.js')
        script(src='/javascripts/index.js')
